{% extends "base.html" %}

{% block title %}Goodn't{%endblock %}

{% block content %}
<form > 
    <div class="mb-3 mt-3">
      <label for="exampleInputEmail1" class="form-label">Sentence to determine mood</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
      placeholder='For example: "{{sentences}}"'> 
    </div>
   
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Submit
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Here will be the verdict</h1> <!-- Сюда добавить вывод из скрипта -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{sentences}} <!-- Вывод последнего добавленного сообщения в БД (вохможно костыльно) -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>



    <main class="mb-3">
      </p>
    </main>
  </form>
    
{% endblock %}